* {
    font-family: 'Montserrat', sans-serif;
    background: #ffdde5;
    margin: 0px;
    padding: 0px;

}
h2{
    background-color: #ddddff;
    height: 10%;
    padding: 3%;
    margin-bottom: 5%;
    box-sizing: content-box;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    color: #785276;


}
#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#a2{
    
 
        /* margin: 50px 40px 30px 20px;  상 하 우 좌 */
        margin: 20px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        font-size: 30px;
        margin-top: 5%;
        color: #785276;
        background-color: #ddffff;
        padding: 10px;
        font-weight: bolder;
        box-sizing: content-box;
        width: 700px;
    
    
    
}
article ul {
    padding: 30px;
    color:  dimgray;
    background-color: #ddffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
article li{
    background-color: #ddffff;
    font-size: 18px;
    display: flex;

}
.icon { 
    margin: 30px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    text-decoration: none;
    margin-left: 45%;

  }
  a{
    color: dimgray;
  }